@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    font-family: 'Open Sans';
}

.section_title {
    padding-left: 20px;
}

.card {
    border-color: #EF7000;
    font-family: 'Open Sans';
    border-radius: 0;
}

.card-header {
    background-color: #037E83;
    border: 0;
    color: white;
}

.card-header:first-child {
    border-radius: 0;
}

.tab {
    font-family: 'Open Sans';
}