@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    font-family: 'Open Sans';
}

.section_title {
    padding-left: 20px;
}

.card {
    border-color: #EF7000;
}

.card-header {
    background-color: #077F83;
    color: white;
    border: 0px;
}